{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}" type='text/css'>
{% endblock head %}

    {% block content %}
    <form class="login_box" method="POST"> 
        {% csrf_token %}
        <h3 class="login_title">로그인</h3>
        {% if error %}
        <p class="error_message" style="color : tomato;">{{ error }}</p>
        {% endif %}
        <div class="login_wrapper">
            <input type="text" name="username" placeholder="ID">
            <input type="password" name="password" placeholder="Password">
            <div class="button_box">
                    <button class="login_button" type="submit">로그인</button>
            </div>
        </div>
        <a class="signup_ask" href="{% url 'signup' %}">아직 회원이 아니세요?</a>
    </form>
    {% endblock content %}
</body>
</html>

