{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">
    <title>Document</title>
</head>

<body>
  <total>
    <form class="login_box" method="POST"> 
        {% csrf_token %}
        <h3 class="login_title">로그인</h3>
        {% if error %}
        <p class="error_message" style="color : tomato;">{{ error }}</p>
        {% endif %}
        <div class="login_wrapper">
            <input type="text" name="username" placeholder="ID">
            <input type="password" name="password" placeholder="P/W">
            <div class="button_box">
                <a class="social_login" href="{% provider_login_url 'kakaotalk' %}">카카오톡으로 로그인</a>
                    <button class="login_button" type="submit">로그인</button>
            </div>
        </div>
        <a class="signup_ask" href="{% url 'signup' %}">아직 회원이 아니세요?</a>
    </form>
</body>
</html>

