{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'signup.css' %}" type='text/css'>
{% endblock head %}

    {% block content %}
        <form class="signup_box" method="POST">
        {% csrf_token %}
        <h1 class="signup_title">회원가임</h1>
            {% if error %}
        <p class="error_message"style="color : red;">{{ error }}</p>
        {% endif %}
        <div class="signup_wrapper">
            <input type="text" name="username" placeholder="ID">
            <input type="password" name="password" placeholder="Password">
            <button class="signup_button"type="submit">가입하기</button>
        </div>
        </form>
    {% endblock content %}
</body>
</html>