<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">
    <title>Document</title>
</head>

<body>
    {% block content %}
        <form class="signup_box" method="POST">
        {% csrf_token %}
        <h1 class="signup_title">회원가임</h1>
            {% if error %}
        <p class="error_message"style="color : red;">{{ error }}</p>
        {% endif %}
        <div class="signup_wrapper">
            <input type="text" name="username" placeholder="ID">
            <input type="password" name="password" placeholder="P/W">
            <button class="signup_button"type="submit">가입하기</button>
        </div>
        </form>
    {% endblock content %}
</body>
</html>