{% block content %}

<div class="top">
<div class="title"><p class="title_text">게임 배그 유튜버 편집자 모집합니다.</p></div>
</div>
<div class="profile_box">
    <div class="profile_img wrapper">
        <img class="profile_img">
    </div>
    <span class="profile_name">디에이치(DH) 엔터테이먼트</span>
    <a class="edit_button"><span>수정</span></a>
    </div>
</div>
<div class="nav_box">
    <a><span class="nav_item require">모집조건</span></a>
    <a><span class="nav_item work_content">근무내용</span></a>
    <a><span class="nav_item review">리뷰</span></a>
    <a><span class="nav_item info">이용안내</span></a>
</div>
<div class="require_box">
    <div class="require_title"><h3>모집조건</h3></div>
    <div class="require_description">
    <p>기간 : 장기 / 툴 : 프리미어프로 / 경력 : 경력무관</p>
    </div>
</div>
<div class="work_content_box">
    <div class="work_content_title"><h3>근무내옹</h3></div>
    <div class="work_content_vid"><video src=""></video></div>
    <div class="work_content_description">
    <p>열심히 일하지 않는자 밥도 먹지 말라. 주말마다 등산까지 갈수있는 유능한 편집자를 모십니다</p>
    </div>
</div>
<div class="review_box">
    <div class="review_title"><h3>리뷰</h3></div>
    <div class="review_input_box">
        <div class="review_input_top">
            <div class="review_input_rate"></div>
            <button class="review_submit_button"></button>
        </div>
        <div class="review_input_bottom">
          <input class="review_input_content" style="text" placeholder="리뷰를 작성하세요"></input>
        </div>
    </div>
    <div class="review_list_box">
        <div class="review_list_item">
            <div class="review_img_wrapper"><img class="review_img" src="" alt="리뷰어프로필사진"></div>
            <div class="review_content">
                <span class="review_rate">@ @ @ @ O</span>
                <span class="review_author_name">주혜</span>
                <p class="review_content_text">근무조건 좋았습니다 구독자 더 많이 오르길</p>
                <p class="review_datetime">2020-04-30</p>
            </div>
        </div>
        <div class="review_list_item">
            <div class="review_img_wrapper"><img class="review_img" src="" alt="리뷰어프로필사진"></div>
            <div class="review_content">
                <span class="review_rate">0 0 O</span>
                <span class="review_author_name">기석</span>
                <p class="review_content_text">근무조건 그저그랬습니다 등산이라뇨</p>
                <p class="review_datetime">2020-06-01</p>
            </div>
        </div>
          <div class="review_list_item">
            <div class="review_img_wrapper"><img class="review_img" src="" alt="리뷰어프로필사진"></div>
            <div class="review_content">
                <span class="review_rate">0 0 @ @ O</span>
                <span class="review_author_name">민정</span>
                <p class="review_content_text">맛있는 간식과 주말등산 재밌었어요</p>
                <p class="review_datetime">2020-06-04</p>
            </div>
        </div>
    </div>
</div>
<div class="info_box">
    <div class="info_title"><h3>이용안내</h3></div>
    <div class="info_method_wrapper">
        <div class="info_method_title"><p>문의방식</p></div>
            <div class="info_method_text"><p>* 지원 후 3일 내로 전화드립니다~~</p></div>
        </div>
        <div class="refund_method_title"><p>환불규정</p></div>
            <div class="refund_method_text"><p>환불 안됩니다. 돌아가 안돼</p></div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="like_button">♡</div>
    <a href=""><div class="chat">채팅하기</div></a>
    <a href=""><div class="chat">지원하기</div></a>
</div>


{% endblock content %}