{% block content %}

<div class="top">
<div class="title"><p class="title_text">후회안할 세련된 영상 만들어드립니다.</p></div>
</div>
<div class="profile_box">
    <div class="profile_img wrapper">
        <img class="profile_img">
    </div>
    <div class="profile_top">
    <span class="profile_name">김편집</span>
    <a class="edit_button"><span>수정</span></a>
    </div>
    <div class="profile_bottom">
        <p class="profile_bottom_text">
        편집 가능 툴 : 프리미어 프로<br>
        희망 근무 형태 : 영상촬영, 편집<br>
        희망 급여 : 분당 15,000원
        </p>
    </div>
</div>
<div class="nav_box">
    <a><span class="nav_item intro">상세소개</span></a>
    <a><span class="nav_item price">가격</span></a>
    <a><span class="nav_item review">리뷰</span></a>
    <a><span class="nav_item info">이용안내</span></a>
</div>
<div class="intro_box">
    <div class="intro_title"><h3>상세소개</h3></div>
    <div class="intro_vid"><video src=""></video></div>
    <div class="intro_description">
    <p>안녕하세요. 여행을 좋아하고 사람들을 가르치는 것을 좋아하는 김수진입니다.
경희대학교 연극영화 전공하였고 현재는 유튜브 광고 영상 회사에서 편집 및 마케팅을 담당하고 있습니다.
탈잉을 하기 전부터 편집과외를 하였고 탈잉을 통해서 많은 사람들을 만났습니다.
편집을 배우고 싶은데 학원에 다니기는 꺼려지고 그렇다고 독학은 힘든 친구들이 많아요. 또, 정말 기초부터 배우고 싶으신 분도, 기초는 알지만 응용하고 싶은 분들 등 각자 실력도 천차만별
학원 원데이라고 해도 커리큘럼 보면 정말 딱 컷편집만 가능한....기초만 배우고, 그린스크린, 울트라 키 등 심화를 들어가려면 가격도 만만치 않죠ㅠ</p>
    </div>
</div>
<div class="price_box">
    <div class="price_title"><h3>가격</h3></div>
    <div class="price_wrapper">
        <div class="basic_box">
            <div class="basic_top"><h6>BASIC</h6></div>
            <div class="basic_middle">
                <p class="basic_middle_item one">-영상길이 10분이하</p>
                <p class="basic_middle_item one">-자막효과</p>
                <p class="basic_middle_item one">-배경음악 선정</p>
            </div>
            <div class="basic_bottom"><p>분당 1만원</p></div>
        </div>
        <div class="standard_box">
            <div class="standard_top"><h6>STANDARD</h6></div>
            <div class="standard_middle">
                <p class="standard_middle_item one">-영상길이 10-20분</p>
                <p class="standard_middle_item one">-더 고급진 효과</p>
                <p class="standard_middle_item one">-썸네일 제작</p>
            </div>
            <div class="standard_bottom"><p>분당 2만원</p></div>
        </div>
        <div class="premium_box">
            <div class="premium_top"><h6>PREMIUM</h6></div>
            <div class="premium_middle">
                <p class="premium_middle_item one">-영상길이 20분이상</p>
                <p class="premium_middle_item one">-유명유튜버 뺨치는 퀄리티</p>
                <p class="premium_middle_item one">-최신 유행 밈 반영</p>
            </div>
            <div class="premium_bottom"><p>분당 3만원</p></div>
        </div>
    </div>
</div>
<div class="review_box">
    <div class="review_title"><h3>리뷰</h3></div>
    <div class="review_input_box">
        <div class="review_input_top">
            <div class="review_input_rate"></div>
            <button class="review_submit_button"></button>
        </div>
        <div class="review_input_bottom">
          <input class="review_input_content" style="text" placeholder="리뷰를 작성하세요"></input>
        </div>
    </div>
    <div class="review_list_box">
        <div class="review_list_item">
            <div class="review_img_wrapper"><img class="review_img" src="" alt="리뷰어프로필사진"></div>
            <div class="review_content">
                <span class="review_rate">@ @ @ @ O</span>
                <span class="review_author_name">주혜TV</span>
                <p class="review_content_text">정말 완벽한 편집을 보여주셨습니다. 덕분에 구독자수도 많이 오르고 저도 슈퍼스타가 되었어요. 번창하시고 다음에 또 뵙기를 바랍니다~!! </p>
                <p class="review_datetime">2020-04-30</p>
            </div>
        </div>
        <div class="review_list_item">
            <div class="review_img_wrapper"><img class="review_img" src="" alt="리뷰어프로필사진"></div>
            <div class="review_content">
                <span class="review_rate">0 0 O</span>
                <span class="review_author_name">기석TV</span>
                <p class="review_content_text">초심 잃으셨네요. 불매운동하겠습니다.</p>
                <p class="review_datetime">2020-06-01</p>
            </div>
        </div>
          <div class="review_list_item">
            <div class="review_img_wrapper"><img class="review_img" src="" alt="리뷰어프로필사진"></div>
            <div class="review_content">
                <span class="review_rate">0 0 @ @ O</span>
                <span class="review_author_name">민정TV</span>
                <p class="review_content_text">멋진 편집 너무 좋았습니다! 다음에도 뵐수있으면 좋을것같아요ㅎㅎ 좋은하루되세요!!</p>
                <p class="review_datetime">2020-06-04</p>
            </div>
        </div>
    </div>
</div>
<div class="info_box">
    <div class="info_title"><h3>이용안내</h3></div>
    <div class="info_method_wrapper">
        <div class="info_method_title"><p>문의방식</p></div>
            <div class="info_method_text"><p>문의 및 촬영은 아침, 점심, 저녁, 오밤중, 새벽, 평일, 주말, 휴일 무관하게 언제든지 가능합니다~ * 주문 전 쪽지로 먼저 문의주세요~~~</p></div>
        </div>
        <div class="refund_method_title"><p>환불규정</p></div>
            <div class="refund_method_text"><p>환불 안됩니다. 돌아가 안돼</p></div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="like_button">♡</div>
    <a href=""><div class="chat">채팅하기</div></a>
    <a href=""><div class="chat">신청하기</div></a>
</div>


{% endblock content %}