{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'new_editor.css' %}">
{% endblock head %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="top">
            <h3>편집자 등록하기</h3>
            <div class="top_information">
                <span class="top_information_text">기본정보</span>
                <div class="profile_wrapper">
                    <div class="profile_img_input">
                        <input class="profile_img_file" type="file" name="img">
                    </div>
                    <div class="profile_detail_input">
                        <input type="text" name="author" placeholder="이름">
                        <input type="text" name="title" placeholder="유튜버를 이끌 매력적인 한줄 제목">
                    </div>
                </div>
            </div>

            <div class="content_box">
                <span class="top_information_text">필수정보</span>
                <div class="content1">
                    <div class="content_text">편집 가능 툴</div>
                    <div class="content1_option">
                        <input type="checkbox" name="tool" value="pro">프리미어프로
                        <input type="checkbox" name="tool" value="aftereffect">애프터이펙트
                        <input type="checkbox" name="tool" value="finalcut">파이널컷
                        <input type="checkbox" name="tool" value="vegas">베가스
                        <input type="checkbox" name="tool" value="photoshop">포토샵
                        <input type="checkbox" name="tool" value="illust">일러스트
                        <input type="checkbox" name="tool" value="Blender">Blender
                        <input type="checkbox" name="tool" value="Maya">Maya
                    </div>
                </div>
                <div class="content2">
                    <div class="content_text">희망 근무 형태</div>
                    <div class="content2_option">
                        <input type="checkbox" name="work" value="shoot">영상촬영
                        <input type="checkbox" name="work" value="edit">영상편집
                        <input type="checkbox" name="work" value="subtitle">자막
                        <input type="checkbox" name="work" value="thumbnail">썸네일
                        <input type="checkbox" name="work" value="etc">기타
                    </div>
                </div>
                <div class="content3">
                    <div class="content_text">희망 급여</div>
                    <div class="content3_option">
                        <input type="text" name="basic_content" placeholder="분당 10,000원">

                    </div>
                </div>
                <div class="content4">
                    <div class="content_text">경력</div>
                    <div class="content2_option">
                        <input type="checkbox" name="career" value="newbee"> 경력무관
                        <input type="checkbox" name="career" value="one_five"> 1년이상 5년미만
                        <input type="checkbox" name="career" value="five_ten">5년이상
                    </div>
                </div>
            </div>

            <div class="detail_box">
                <span class="top_information_text">상세정보</span>
                <div class="content5_option">
                    <input type="text" name="content_info" value="" placeholder="자세한 정보를 적고 사진을 첨부해주세요">
                    <input class="img_file" type="file" name="img">
                    <span>유튜브 링크 첨부하기</span>
                    <input type="text" name="vid_url" placeholder="http://...">
                </div>
            </div>

            <div class="submit_button"><input type="submit"> </div>
        </div>
    </form>
</div>

{% endblock content %}
</body>

</html>