<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'new_youtuber.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
     <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="top">
        <h3>편집자 등록하기</h3>
        <div class="top_information">
            <span class="top_information_text">기본정보</span>
                <div class="profile_wrapper">
                    <div class="profile_img_input">
                        <input class="profile_img_file" type="file" name="img">
                    </div>
                    <div class="profile_detail_input">
                        <input type="text" name="author" placeholder="이름">
                        <input type="text" name="title" placeholder="한줄 제목">

                    </div>
                </div>
            </div>
    <div class="content_box">필수정보
        <div class="content1">
            <div class="content_text"></div>
            <div class="content0">
                        <input type="checkbox" name="career" value="career">경력무관
                        <input type="checkbox" name="career" value="career">1년이상 5년미만
                        <input type="checkbox" name="career" value="career">5년이상
                    </div>
            <div class="content1_option">선호하는 툴
                <input type="checkbox" name="tool" value="pro">프리미어프로
                <input type="checkbox" name="tool" value="aftereffect">애프터이펙트
                <input type="checkbox" name="tool" value="finalcut">파이널컷
                <input type="checkbox" name="tool" value="vegas">베가스
                <input type="checkbox" name="tool" value="photoshop">포토샵
                <input type="checkbox" name="tool" value="illust">일러스트
                <input type="checkbox" name="tool" value="Blender">Blender
                <input type="checkbox" name="tool" value="Maya">Maya
            </div>
        </div> 
         <div class="content2">
                    <div class="content_text">희망 근무 형태</div>
                    <div class="content2_option">
                        <input type="checkbox" name="work" value="shoot">영상촬영
                        <input type="checkbox" name="work" value="edit">영상편집
                        <input type="checkbox" name="work" value="subtitle">자막
                        <input type="checkbox" name="work" value="thumbnail">썸네일
                        <input type="checkbox" name="work" value="etc">기타 
                    </div>
                </div>
        <div class="content3">
            <div class="content_text">희망 고용 형태</div>
            <div class="content3_option">
                    <input type="checkbox" name="period" value="long">장기
                    <input type="checkbox" name="period" value="short">단기
            </div>
        </div>
        <div class="content4">
            <div class="content_text">
                    <input type="text" placeholder="지급하는 급여의 형식과 금액을 입력하세요" value="ex) 월급 3,000,000원">
            </div>
        <div class="content5">
            <div class="content_box">상세 정보
                <br><p>자신을 표현할 수 있는 내용을 기입해주세요</p>
            </div>
            <div class="content4_option">
                <input type="url" name="vid_url">유튜브 링크 첨부하기
            </div>
        </div>
        <div class="contnet6">
            <div class="content_box">유의해야할 점</div>
            <div class="content5_option">
                <input type="text" name="content" placeholder="ex) 수정 사항은 3회까지 가능합니다, 분당/건당 둘 다 가능합니다">
            </div>
        </div>
    </div>
    <div class="submit button"><input type="submit" </div>
    </form>
    {% endblock content %}
</body>
</html>